body{
  background:#4C57D8;
}

h1{
  font-family: 'Wendy One', sans-serif;font-size: 400%;
  text-align: center;
}
h2{
  font-family: 'Wendy One', sans-serif;font-size: 200%;
  text-align: center;
}

.content{
  float: left;
  background: #fff;
  height: 200px;
  width: 300px;
}
.navigation{
  float:right;
  height:200px;
  width: 200px;
  background: #cff;
}