body{
  background:#4C57D8;
}

h1{
  font-family: 'Wendy One', sans-serif;font-size: 400%;
  text-align: center;
}
h2{
  font-family: 'Wendy One', sans-serif;font-size: 200%;
  text-align: center;
}


.content{
  text-align: center;
  position: relative;
  float: left;
  background: #fff;
  width: 68%;
  padding: 0px;
  background: #956BD6;
}
.content h3{
  font-family: 'Wendy One', sans-serif; font-size: 150%;
}
.content h4{
  font-family: 'Wendy One', sans-serif; font-size: 120%;
}

.content p{
  font-family: 'Orienta', sans-serif;
}

.navigation{
  text-align: center;
  position: relative;
  float:right;
  width: 30%;
  background: #cff;
  padding: 0px;
  background: #64A8D1;
}
.navigation h3{
  font-family: 'Wendy One', sans-serif; font-size: 150%;
}

.navigation h4{
  font-family: 'Wendy One', sans-serif; font-size: 120%;
}

.navigation li{
  font-family: 'Orienta', sans-serif;
}